{% load static %}
{% load cache %}

<!DOCTYPE html>
<html lang="en">
<head>
	<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="{% static 'js/uni-form.jquery.min.js' %}"></script>
	<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
	<script src="https://cdn.bootcss.com/jquery.formset/1.2.2/jquery.formset.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}?{% now "U" %}">
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
		  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
		  crossorigin="anonymous">
	<link src="{% static 'css/uni-form.css' %}?{% now "U" %}" rel="stylesheet" type="text/css" media="screen"/>
	<link src="{% static 'css/style.uni-form.css' %}?{% now "U" %}" rel="stylesheet" type="text/css" media="screen"/>

</head>

<body>
<header>
	{% include "share_layout/navbar.html" %}
</header>

<main>
	{% block login %}
	{% endblock %}

	{% block index %}
	{% endblock %}

	{% block error %}
	{% endblock %}
</main>
<div>
	<footer>
		{% include "share_layout/footer.html" %}
		<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"
				integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
				crossorigin="anonymous"></script>


	</footer>
</div>
</body>


</html>