Invitation to Review for the CSQRWC2018
Dear Prof. {{ name }}:
Manuscript ID {{ id|stringformat:"03d" }} entitled &quot; xx&quot; has been submitted to the 2018 Cross Strait Quad-Regional Radio
Science and Wireless Technology Conference. I invite you to review this manuscript. 
I realize that our expert reviewers greatly contribute to the high standards of the conference, and I
thank you for your present and/or future participation.
The access to the manuscript and reviewer instructions in your Reviewer Center:
Username:
Password:
The site URL is: http://47.254.38.1/
Sincerely,
Prof. Lei Zhao
TPC Chair
2018 CSQRWC
leizhao@jsnu.edu.cn