{% load main_tags %}
{% load static %}
<nav class="navbar-default" role="navigation">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="{% url "index" %}">Paper Review System</a>
	</div>

	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		
		<ul class="nav navbar-nav">
			<li class="active"><a href="http://csqrwc.jsnu.edu.cn/">
				Conference Information
			</a></li>
			<li class="active"><a href="{% url 'list_paper' %}">I'm Author</a></li>
			{% for i in request.user.groups.all %}
				{% if i.name == 'reviewer' %}
					<li class="active"><a
							href="{% url 'list_review' %}">I'm Reviewer</a></li>
				{% endif %}
			{% endfor %}



			{% for i in request.user.groups.all %}
				{% if i.name == 'editor' %}
					<li class="active"><a href="{% url 'list_assignment' %}">I'm Editor</a></li>
				{% endif %}
			{% endfor %}


		</ul>
		<div class="col-sm-3 col-md-3">
			<form class="navbar-form" role="search">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Search" name="q">
					<div class="input-group-btn">
						<button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i>
						</button>
					</div>
				</div>
			</form>
		</div>
		<ul class="nav navbar-nav navbar-right">
			{% if request.user.is_authenticated %}
				<li><img src="{% get_media_prefix %}{{ request.user.avatar.name }}" style="margin-top: 8px"
						 class="img-circle" width="30" height="30"></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome, {{ request.user.username }} <b
							class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="{% url 'updateimage' %}">Change Avatar</a></li>
						<li><a href="{% url 'password_change' %}">Change Password</a></li>
						<li class="divider"></li>
						<li><a href="{% url "logout" %}">Log Out</a></li>
					</ul>
				</li>
			{% else %}
				<li><a href="{% url "register" %}">Register</a></li>
				<li><a href="{% url "login" %}">Log In</a></li>
			{% endif %}
		</ul>
	</div>
	<!-- /.navbar-collapse -->
</nav>
