<h3>Title: 2018CSQRWC Paper Submission Confirmation</h3>
<h4 class="lead">Dear Authors,</h4>
<p>This message serves as a confirmation that your submission to the 2018 Cross Strait Quad-Regional</p>
<p>Radio Science and Wireless Technology Conference was received as noted below:</p>
<p>Paper ID: {{ id|stringformat:"03d" }}</p>
<p>Title: {{ title }}   &quot;Parallel DGTD Method for Transient Electromagnetic Problems&quot;</p>
<p>For more information about registration and other meeting related details, please be sure to visit the
	meeting Web site:</p>
<p>http://csqrwc.jsnu.edu.cn/</p>
<p>Thanks for your submission to 2018CSQRWC.</p>
<p>Lei Zhao</p>
<p>TPC Chair</p>
<p>2018CSQRWC</p>