Title: 2018CSQRWC Paper # Submission Confirmation
Dear Authors,
This message serves as a confirmation that your submission to the 2018 Cross Strait Quad-Regional
Radio Science and Wireless Technology Conference was received as noted below:
Paper ID: {{ id|stringformat:"03d" }}
Title: {{ title }}   &quot;Parallel DGTD Method for Transient Electromagnetic Problems&quot;
For more information about registration and other meeting related details, please be sure to visit the
meeting Web site:
http://csqrwc.jsnu.edu.cn/
Thanks for your submission to 2018CSQRWC.
Lei Zhao
TPC Chair
2018CSQRWC