{% extends 'share_layout/base.html' %}
{% block accounts %}
<p>
  <button type="button" class="btn btn-primary btn-lg">注册参会</button>
  <button type="button" class="btn btn-default btn-lg">
	  <a href="{% url 'register' %}" data-toggle="modal">注册参评</a>
  </button>
	<button type="button" class="btn btn-default btn-lg">
		<a href="{% url 'login' %}" data-toggle="modal">登录</a>
	</button>
		<button type="button" class="btn btn-default btn-lg">
		<a href="{% url 'logout' %}" data-toggle="modal">注销</a>
	</button>
</p>

<p>
每个手机号码限注册一个参会资格，不可重复使用。

请输入您的真实手机号码，此手机号码为该注册资格的唯一查询凭证。

注册成功后将发送短信通知，现场您可凭注册手机号码进行现场签到。

选择公账汇款时，请您在转账备注里标注您的会议注册时填写的手机号码，确认收到款项后，请去“我的参会注册”补充您的发票信息。

发票信息请于订单支付成功后的页面填写，请确认发票信息正确完整，发票一经出票不得修改。

发票的领取：会后邮寄、会后电子发票。请在支付完成确认发票信息后进行选择。

关于退款：2017年9月30日前可在“我的参会注册”里提交退款申请，10月01日后将不可进行退款，组委会工作人员自参会者申请退款后7个工作日内进行确认退款流程，一般将直接退至您支付的原账户。请提前安排好您的行程。
</p>
{% endblock %}