{% extends "share_layout/base.html" %}
{% block index %}

{% include 'share_layout/carousel.html' %}
	<div class="container">
		<div class="row">

			<div role="tabpanel">
				{% include "main/sidebar.html" %}

				<div class="col-sm-9">
					<div class="tab-content">
						<div class="tab-pane active">
							<p class="small text-muted">{{ content.last_mod_time }}</p>
							<h3 id="intro" class="title">{{ content.theme }}</h3>

							<p>
								{% autoescape off %}
									{{ content.body }}
								{% endautoescape %}
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}



