{% extends "share_layout/base.html" %}



{% block index %}
	{% include 'share_layout/carousel.html' %}
	<div class="container">
		<div class="row">

			<div role="tabpanel">

				{% include "main/sidebar.html" %}

				<div class="col-sm-9">
					<div class="tab-content">
						<p class="small text-muted">July 21-24, 2018</p>
						<h3 id="intro" class="title">2018 Cross Strait Quad-Regional Radio Science

							and Wireless Technology Conference</h3>
						<p class="lead">Jiangsu Normal University, Xuzhou, China</p>
						<p>
							As an annual conference, CSQRWC offers an active forum for exchanging creative ideas and
							experiences of the latest developments, designs in the areas of Radio Science and Wireless
							Technology for professors, researchers, engineers and students from Cross Strait Quad-Region
							of China and all over the world. CSQRWC2018 will be held in Jiangsu Normal University,
							Xuzhou, China.

						<h4>	Important Dates </h4>

							Deadline of paper submission： April 5, 2018
						<br>
							Notification of acceptance： April 20, 2018
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}