{% extends 'share_layout/base.html' %}
{% load main_tags %}
{% block index %}
{% include 'share_layout/carousel.html' %}
	<div class="container">
		<div class="row">
			<div role="tabpanel">
				{% include "main/sidebar.html" %}
				<div class="col-sm-9" >
						<div class="tab-pane text-style" id="tab10">
							<header class="archive-header">
								<h1 class="archive-title">{{ page_type }} <span>{{ tag_name }}</span></h1>
							</header>
							{% for scholar in scholar_list %}
								{% load_scholar_list_info scholar %}
							{% endfor %}
							{% include 'share_layout/pagination.html' with is_paginated=is_paginated page_obj=page_obj paginator=paginator %}
						</div>
					</div>
			</div>
		</div>
	</div>
{% endblock %}
