<h4>Conference Info</h4>
<div class="col-sm-3">
	<ul class="nav nav-pills brand-pills nav-stacked">
		<li role="presentation" class="brand-nav active">
			<a href="{% url "index" %}#index">Home</a>
		</li>

		<li role="presentation" class="brand-nav">
			<a href="{% url "list_paper" %}#index">Paper Submission</a>
		</li>
		{% load main_tags %}
		{% query sidebar_node_list parent_node=None as root_node %}
		{% for node in root_node %}
			{% include "main/sidebar_node.html" %}
		{% endfor %}
	</ul>
	<hr/>
</div>
