{% extends 'thesis_review/base.html' %}
{% load main_tags %}
{% load static %}
{% block title %}分配评审{% endblock %}

{% block review %}
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
				<h2>Review Thesis</h2>
				<br>
				<br>
				<div class="row">
					<div class="col-md-3">
						<p class="lead">Title:</p>
					</div>
					<div class="col-md-5 col-md-offset-2">
						<p style="font-size: 18px;">{{ thesis.title }}</p>
					</div>
				</div>


				<div class="row">
					<div class="col-md-3">
						<p class="lead">Author:</p>
					</div>
					<div class="col-md-5 col-md-offset-2">
						<p style="font-size: 18px;"><a data-toggle="modal"
													   data-target="#{{ thesis.author_id }}">{{ thesis.author }}</a></p>
						{% load_scholar_info thesis.author %}
					</div>
				</div>


				<div class="row">
					<div class="col-md-3">
						<p class="lead">keywords:</p>
					</div>
					<div class="col-md-5 col-md-offset-2">
						<p style="font-size: 18px;">{{ thesis.keywords }}</p>
					</div>
				</div>

				<div class="row">
					<div class="col-md-3">
						<p class="lead">abstract:</p>
					</div>
					<div class="col-md-5 col-md-offset-2">
						<p style="font-size: 14px;">{{ thesis.abstract }}</p>
					</div>
				</div>


				<div class="row">
					<div class="col-md-3">
						<p class="lead">create_time:</p>
					</div>
					<div class="col-md-5 col-md-offset-2">
						<p style="font-size: 18px;">{{ thesis.create_time }}</p>
					</div>
				</div>

				<div class="row">
					<div class="col-md-3">
						<p class="lead">publish_time:</p>
					</div>
					<div class="col-md-5 col-md-offset-2">
						<p style="font-size: 18px;">
							{% if thesis.publish_time %}{{ thesis.publish_time }} {% else %} - {% endif %}</p>
					</div>
				</div>


				<div class="row">
					<div class="col-md-3">
						<p class="lead">Thesis View:</p>
					</div>
					<div class="col-md-5 col-md-offset-2">
						<p style="font-size: 18px;"><a target="_blank" href="
								{% get_media_prefix %}{{ thesis.content.name }}">{% filename thesis.content.name %}</a>
						</p>
					</div>
				</div>

				<form method="post">
					<ul>
						{% for key, error in errors.items %}
							<li><span style="text-align: center; color: #953b39;">{{ error }}</span></li>
						{% endfor %}
					</ul>
					{% csrf_token %}


					<div class="row">
						<div class="col-md-3">
							<p class="lead">Reviewers:</p>
						</div>
						<div id="reviewers" class="col-md-5 col-md-offset-2">

									<div class="form-group">
										<select name="handle_members" class="form-control">
											{% for i in scholars %}
												<option value="{{ i.id }}">{{ i }}</option>
											{% endfor %}

										</select>
										<span class="input-group-btn"><button type="button"
																			  class="btn btn-default btn-add">+</button></span>
									</div>

						</div>
					</div>

					<div class="form-group">
						<div class="row">
							<div class="col-md-3">
								<p class="lead">Status:</p>
							</div>
							<div class="col-md-5 col-md-offset-2">
								<select name="status" id="status" class="form-control">
									{% for i in status %}
										<option value="{{ i.0 }}">{{ i.1 }}</option>
									{% endfor %}
								</select>
							</div>
						</div>
					</div>


					<div class="row">
						<div class="col-xs-6 col-md-6">
							<button id="submit" value="{{ thesis_id }}"
								   class="btn btn-primary btn-block btn-lg">
								Submit
							</button>
						</div>
					</div>

				</form>
			</div>
		</div>
	</div>

{% endblock %}




