{% extends 'thesis_review/base.html' %}
{% load main_tags %}
{% load static %}
{% block title %}论文审核{% endblock %}




{% block review %}
	<div class="container">


		<div class="row">
			<div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
				<h2>Review Thesis</h2>
				<br>
				<br>
				<div class="row">
					<div class="col-md-3">
						<p class="lead">Title:</p>
					</div>
					<div class="col-md-5 col-md-offset-2">
						<p style="font-size: 18px;">{{ thesis.title }}</p>
					</div>
				</div>


				<div class="row">
					<div class="col-md-3">
						<p class="lead">Author:</p>
					</div>
					<div class="col-md-5 col-md-offset-2">
						<p style="font-size: 18px;">{{ thesis.author }}</p>
					</div>
				</div>

				<div class="row">
					<div class="col-md-3">
						<p class="lead">reviewers:</p>
					</div>
					<div class="col-md-5 col-md-offset-2">
						<p style="font-size: 18px;">
							{% if thesis.review_set.all %}
							{% for n in thesis.review_set.all %}<a>{{ n.reviewer.username }}</a> &nbsp; {% endfor %}
							{% else %}
							-
							{% endif %}
						</p>
					</div>
				</div>

				<div class="row">
					<div class="col-md-3">
						<p class="lead">keywords:</p>
					</div>
					<div class="col-md-5 col-md-offset-2">
						<p style="font-size: 18px;">{{ thesis.keywords }}</p>
					</div>
				</div>

				<div class="row">
					<div class="col-md-3">
						<p class="lead">abstract:</p>
					</div>
					<div class="col-md-5 col-md-offset-2">
						<p style="font-size: 18px;">{{ thesis.abstract }}</p>
					</div>
				</div>


				<div class="row">
					<div class="col-md-3">
						<p class="lead">create_time:</p>
					</div>
					<div class="col-md-5 col-md-offset-2">
						<p style="font-size: 18px;">{{ thesis.create_time }}</p>
					</div>
				</div>

				<div class="row">
					<div class="col-md-3">
						<p class="lead">publish_time:</p>
					</div>
					<div class="col-md-5 col-md-offset-2">
						<p style="font-size: 18px;"> {% if thesis.publish_time %}{{ thesis.publish_time }} {% else %} - {% endif %}</p>
					</div>
				</div>


				<div class="row">
					<div class="col-md-3">
						<p class="lead">Thesis View:</p>
					</div>
					<div class="col-md-5 col-md-offset-2">
						<p style="font-size: 18px;"><a target="_blank" href="{% get_media_prefix %}{{ thesis.content.name }}">{% filename thesis.content.name%}</a></p>
					</div>
				</div>

				<form method="post" role="form" enctype='multipart/form-data'>
					<ul>
						{% for key, error in errors.items %}
							<li><span style="text-align: center; color: #953b39;">{{ error }}</span></li>
						{% endfor %}
					</ul>
					{% csrf_token %}

					</br>
					</br>
					<div class="form-group">
						<div class="row">
							<div class="col-md-3">
								<p class="lead">Conclusion:</p>
							</div>
							<div class="col-md-5">
								<select name="conclusion" id="conclusion" class="form-control input-lg">
									{% for i in conclusion %}
										<option value="{{ i.0 }}">{{ i.1 }}</option>
									{% endfor %}

								</select>
							</div>
						</div>
					</div>

					<div class="form-group">
						<p class="lead">Proposal:</p>
						<textarea style="height: 200px" type="text" name="proposal" id="proposal"
								  class="form-control input-lg"
								  placeholder="WRITE YOUR PROPOSAL HERE :)"></textarea>
					</div>

					<div class="row">
						<div class="col-xs-6 col-md-6">
							<input type="submit" value="提交"
								   class="btn btn-primary btn-block btn-lg">
						</div>
					</div>

				</form>
			</div>
		</div>
	</div>



{% endblock %}




