{% extends "share_layout/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load main_tags %}

{% block index %}
	<div class="container-fluid">
		<div class="row">

			<div role="tabpanel">
				{% load_judgment_sidebar "paper" %}


				<div class="col-sm-8">
					<div class="form-container">
						<form method="post" action="" enctype='multipart/form-data'>
							{% csrf_token %}

							{% crispy paper_form %}
							{% crispy keywords_formset myinlinehelper %}
							{% crispy authors_formset myinlinehelper %}

							<p>
								<input type="submit" value="Submit"/>
							</p>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}