
<table>
	<thead>
		<th>{{ object.title.field_name }}</th>
		<th>abstract:</th>
		<th>create_time</th>
		<th>publish_time</th>
		<th>file:</th>
		<th>session:</th>
		<th>version:</th>
		<th>serial number:</th>
	</thead>
	<tbody>
	<td>{{ object.title }}</td>
	<td>{{ object.abstract }}</td>
	<td>{{ object.create_time }}</td>
	<td>{{ object.publish_time }}</td>
	<td>{{ object.file }}</td>
	<td>{{ object.session }}</td>
	<td>{{ object.version }}</td>
	<td>{{ object.serial_number }}</td>
	</tbody>
</table>