<h4 class="lead">Paper Information</h4>
<hr>
<div class="form-horizontal">
	<div class="form-group">
		<label class="col-sm-2 control-label">Title:</label>
		<div class="col-sm-10">
			<p class="form-control-static">{{ object.title }}</p>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">Serial number</label>
		<div class="col-sm-10">
			<p class="form-control-static">{{ object.id|stringformat:"03d" }}</p>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">Abstract:</label>
		<div class="col-sm-10">
			<p class="form-control-static">{{ object.abstract }}</p>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">Create time:</label>
		<div class="col-sm-10">
			<p class="form-control-static">{{ object.create_time }}</p>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">Publish time:</label>
		<div class="col-sm-10">
			<p class="form-control-static">{{ object.publish_time }}</p>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">Session:</label>
		<div class="col-sm-10">
			<p class="form-control-static">{{ object.session.name }}</p>
		</div>
	</div>


	<div class="form-group">
		<label class="col-sm-2 control-label">version:</label>
		<div class="col-sm-10">
			<p class="form-control-static">{{ object.version }}</p>
		</div>
	</div>
</div>
<hr>
