{% extends "share_layout/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load main_tags %}
{% block index %}
	<div class="container-fluid">
		<div class="row">


			{% load_judgment_sidebar "assignment" %}
			<div class="col-sm-6">
				<iframe src="{% load_file paper_object.file.name %}" height="1000px" width="100%"></iframe>
			</div>
			<div class="col-sm-4">
				{% include 'upload/tag_display.html' with object=paper_object %}
				<div class="form-container">
					<form method="post" action="" enctype='multipart/form-data'>
						{% csrf_token %}

						<div style="display: none;">{% crispy assignment_form %}</div>
						{% crispy assignreview_formset myinlinehelper %}

						<p>
							<input type="submit" value="Submit"/>
						</p>
					</form>
				</div>
			</div>
		</div>

	</div>
{% endblock %}
