{% extends "share_layout/base.html" %}

{% block index %}
	<div class="container-fluid">
		<div class="row">

			<div role="tabpanel">
				{% include "Judgment/sidebar.html" %}

				<div class="col-sm-9">
					<div class="tab-content">
						<div class="tab-pane active">
						<table class="table">
							<thead>
							<tr>
								<th>paper title</th>
								<th>status</th>
								<th>proposal to author</th>
								<th>reviewers</th>

							</tr>
							</thead>
							{% for assignment in assignment_list %}
								<tr>
									<td>{{ assignment.paper.title }}</td>
									<td>{{ assignment.get_status_display }}</td>
									<td>{{ assignment.proposal_to_author }}</td>
								<td>
									{% for reviewe in assignment.review_set.all %}
										<p>{{ reviewe.reviewer.username }}:&nbsp; {{ reviewe.get_recommandation_display }} </p>
									{% endfor %}
								</td>
								</tr>




							{% endfor %}


						</table>


							{% include 'share_layout/pagination.html' with is_paginated=is_paginated page_obj=page_obj paginator=paginator %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

