{% extends "share_layout/base.html" %}

{% block index %}
	<div class="container">
		<div class="row">

			<div role="tabpanel">
				{% include "Judgment/sidebar.html" %}

				<div class="col-sm-9">
					<div class="tab-content">
						<div class="tab-pane active">
							{% for assignment in assignment_list %}
								{{ assignment }}
							{% endfor %}

							{% include 'share_layout/pagination.html' with is_paginated=is_paginated page_obj=page_obj paginator=paginator %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

