{% extends "share_layout/base.html" %}
{% load static %}
{% load main_tags %}
{% block index %}
	<div class="container-fluid">
		<div class="row">

			<div role="tabpanel">
				{% load_judgment_sidebar "assignment" %}

				<div class="col-sm-9">
					<div class="tab-content">
						<div class="tab-pane active">
							{% if not assignment_list %}
								<h3 class="lead">You have no assign task now.</h3>
							{% else %}
								<table class="table">
									<thead>
									<tr>
										<th>Paper title</th>
										<th>Status</th>
										<th>Comment to author</th>
										<th>Reviewers</th>

									</tr>
									</thead>
									{% for assignment in assignment_list %}
										<tr>
											<td>
												{{ assignment.paper.title }}

											<td>
												{% if assignment.status == '0' %}
													<a style="color: darkred" href="{% url "create_assignment" assignment.id %}">
														{{ assignment.get_status_display }}, Asign it now</a>
												{% elif assignment.status == '5'  %}
													<a href="{% url "create_assignment" assignment.id %}">
														{{ assignment.get_status_display }}, reach a verdict now</a>
												{% else %}
													<a href="{% url "read_paper" assignment.id %}">
														{{ assignment.get_status_display }}</a>
												{% endif %}
											</td>
											<td>{{ assignment.proposal_to_author }}</td>
											<td>
												{% for reviewer in assignment.review_set.all %}
													<p>{{ reviewer.reviewer.username }}:&nbsp; {{ reviewer.get_recommandation_display }} </p>
												{% endfor %}
											</td>
										</tr>
									{% endfor %}

								</table>
							{% endif %}

							{% include 'share_layout/pagination.html' with is_paginated=is_paginated page_obj=page_obj paginator=paginator %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

