{% extends "share_layout/base.html" %}
{% load main_tags %}
{% load static %}
{% load crispy_forms_tags %}
{% block index %}
	<div class="container-fluid">
		<div class="row">
			{% load_judgment_sidebar "review" %}
			<div class="col-sm-6">
				<iframe src="{% load_file object.assignment.paper.file.name %}" height="1000px" width="100%"></iframe>
			</div>
			<div class="col-sm-4">
				{% include 'upload/tag_display.html' with object=object.assignment.paper %}
				<div class="form-horizontal">
					<div class="form-group">
						<label class="col-sm-2 control-label">recomm- andation:</label>
						<div class="col-sm-10">
							<p class="form-control-static">{{ object.get_recommandation_display }}</p>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">confidentia proposal to
							editor:</label>
						<div class="col-sm-10">
							<p class="form-control-static">{{ object.confidentia_proposal_to_editor }}</p>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">proposal to author</label>
						<div class="col-sm-10">
							<p class="form-control-static">{{ object.proposal_to_author }}</p>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">create time</label>
						<div class="col-sm-10">
							<p class="form-control-static">{{ object.create_time }}</p>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">finish time</label>
						<div class="col-sm-10">
							<p class="form-control-static">{{ object.finish_time }}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}