{% extends "share_layout/base.html" %}
{% load static %}
{% load main_tags %}
{% block index %}
	<div class="container-fluid">
		<div class="row">

			<div role="tabpanel">
				{% load_judgment_sidebar "review" %}

				<div class="col-sm-9">
					<div class="tab-content">
						<div class="tab-pane active">
							{% if not review_list %}
								<h3 class="lead">You have no review task now.</h3>
							{% else %}

								<table class="table">
									<thead>
									<tr>
										<th>paper title</th>
										<th>recommandation</th>
										<th>proposal to author</th>
										<th>create time</th>
										<th>all reviewers</th>
									</tr>
									</thead>

									{% for review in review_list %}
										<tr>
											<td>
												<a href="{% if review.recommadation  in "123"|make_list %}{% url "display_review" review.id %}{% else %}{% url "create_review" review.id %}{% endif %}">
													{{ review.assignment.paper.title }}
												</a></td>
											<td>
												{% if review.recommandation in "123"|make_list %}
												{{ review.get_recommandation_display }}
													{% else %}
													<a href="{% url 'create_review' review.id %}" >
														Unprocessed, Review it now
													</a>
												{% endif %}
											</td>
											<td>{{ review.proposal_to_author }}</td>
											<td>{{ review.create_time }}</td>

											<td>
												{% for reviewer in review.assignment.review_set.all %}
													{{ reviewer.reviewer.username }} <br>


												{% endfor %}
											</td>
										</tr>
									{% endfor %}


								</table>
							{% endif %}

							{% include 'share_layout/pagination.html' with is_paginated=is_paginated page_obj=page_obj paginator=paginator %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

