{% load static %}
{% load main_tags %}
<div role="tabpanel" class="tab-pane" id="tab5">
			<div class="media mb-1">
				<a class="media-left waves-light">
				{% if avatar %}
					<img class="img-circle"
						 width="70" height="70" border="0"
						 src="{% get_media_prefix %}{{ avatar.name }}">
				{% else %}
					<img class="img-circle"
						 width="70" height="70" border="0"
						 src="http://bpic.588ku.com/element_pic/01/55/09/6357474dbf2409c.jpg">
				{% endif %}
				</a>
				<div class="media-body">
					<div id="postlist">
						<div class="panel">
							<div class="panel-heading">
								<div class="text-center">
									<div class="row">
										<div class="col-sm-9">
											<h4 class="pull-left">{{ username }}</h4>
										</div>
										<div class="col-sm-3">
											<h4 class="pull-right">
												<small>{{ organization }}</small>
											</h4>
										</div>
									</div>
								</div>
							</div>

							<div class="panel-body">
								{{ major }}
								<a  data-toggle="modal" data-target="#{{ id }}">Read More</a>
									{% load_scholar_info scholar %}
							</div>

							<div class="panel-footer">
								{% for i in keywords %}
								<span class="label label-default">i</span>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>