<!-- Modal -->
<div class="modal fade" id="{{ id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
	 aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Infomation</h4>
			</div>
			<div class="modal-body">
				<center>
					<img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRbezqZpEuwGSvitKy3wrwnth5kysKdRqBW54cAszm_wiutku3R"
						 name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
					<h3 class="media-heading">{{ username }}
						<small>{{ organization }}</small>
					</h3>
					<p class="lead">{{ email }}</p>
					<span><strong>Keywords: </strong></span>
					{% for keyword in keywords %}
					<span class="label label-info">{{ keyword }}</span>
					{% endfor %}

				</center>
				<hr>
				<center>
					<p class="text-left"><strong>Bio: </strong><br>
						{{ major }}</p>
					<br>
				</center>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">
					Close
				</button>
			</div>
		</div>
	</div>
</div>
