{% load static %}
{% load main_tags %}
<!-- Modal -->
<div class="modal fade" id="{{ id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
	 aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Infomation</h4>
			</div>

			<div class="modal-body">
				<center>

				{% if avatar %}
					<img src="{% get_media_prefix %}{{ avatar }}"
						 name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
				{% elif username == current_user %}
					{% include "registration/changeuserimage.html" %}
				{% else %}
					<img src="http://bpic.588ku.com/element_pic/01/55/09/6357474dbf2409c.jpg"
						 name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
				{% endif %}
					<h3 class="media-heading">{{ username }}
						<small>{{ organization }}</small>
					</h3>
					<p class="lead">{{ email }}</p>
					<span><strong>Keywords: </strong></span>
					{% for keyword in keywords %}
						<span class="label label-info">{{ keyword }}</span>
					{% endfor %}

				</center>
				<hr>
				<center>
					<p class="text-left"><strong>Bio: </strong><br>
						{{ major }}</p>
					<br>
				</center>
				<hr>
				<table class="table">
					<thead>
					<tr>
						<th scope="col">{{ username }}'s Works</th>
						<th scope="col">Review Thesis</th>
					</tr>
					</thead>
					<tbody>

					{% for work, review in thesis_set %}
						<tr>
							<td><a target="_blank" href="{% get_media_prefix %}{{ work.content.name }}">{{ work.title }}</a></td>
							<td><a target="_blank" href="{% get_media_prefix %}thesis/{% filename review.thesis.content.name %}">{{ review.thesis.title }}</a></td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>


			</tr>

			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">
					Close
				</button>
			</div>
		</div>
	</div>
</div>
