<!DOCTYPE html>
<html lang="zh-CN">

<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>

<link rel="stylesheet" type="text/css" href="style.css">
<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
	  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	  crossorigin="anonymous">

<!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
	  integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
	  crossorigin="anonymous">

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		crossorigin="anonymous"></script>

<body>
<nav class="navbar-default" role="navigation">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="#">Conference</a>
	</div>

	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav">
			<li class="active"><a href="#">Upload Thesis</a></li>
			<li><a href="#">Review Thesis</a></li>

		</ul>
		<div class="col-sm-3 col-md-3">
			<form class="navbar-form" role="search">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Search" name="q">
					<div class="input-group-btn">
						<button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i>
						</button>
					</div>
				</div>
			</form>
		</div>
		<ul class="nav navbar-nav navbar-right">
			<!--<li><a href="#">Link</a></li>-->
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">会议注册 <b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="login.html">Login</a></li>
					<li><a href="register.html">Register</a></li>
					<li><a href="#">Something else here</a></li>
					<li class="divider"></li>
					<li><a href="#">Separated link</a></li>
				</ul>
			</li>
		</ul>
	</div>
	<!-- /.navbar-collapse -->
</nav>

<div class="container-fluid">
	<div class="row">
		<!-- Carousel -->
		<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
				<li data-target="#carousel-example-generic" data-slide-to="1"></li>
				<li data-target="#carousel-example-generic" data-slide-to="2"></li>
			</ol>
			<!-- Wrapper for slides -->
			<div class="carousel-inner">
				<div class="item active">
					<img src="http://unsplash.s3.amazonaws.com/batch%209/barcelona-boardwalk.jpg" alt="First slide">
					<!-- Static Header -->
					<div class="header-text hidden-xs">
						<div class="col-md-12 text-center">
							<h2>
								<span>Xuzhou, China&nbsp;&nbsp;<strong>Smart City</strong></span>
							</h2>
							<br>
							<h3>
								<span>2018智慧城市产学研国际战略研讨会</span>
							</h3>
							<br>
							<!--<div class="">
                                <a class="btn btn-theme btn-sm btn-min-block" href="#">Login</a><a class="btn btn-theme btn-sm btn-min-block"
                                    href="#">Register</a></div>-->
						</div>
					</div>
					<!-- /header-text -->
				</div>
				<div class="item">
					<img src="http://unsplash.s3.amazonaws.com/batch%209/barcelona-boardwalk.jpg" alt="Second slide">
					<!-- Static Header -->
					<div class="header-text hidden-xs">
						<div class="col-md-12 text-center">
							<h2>
								<span>Welcome to LOREM IPSUM</span>
							</h2>
							<br>
							<h3>
								<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
							</h3>
							<br>
							<div class="">
								<a class="btn btn-theme btn-sm btn-min-block" href="#">Login</a><a
									class="btn btn-theme btn-sm btn-min-block"
									href="#">Register</a></div>
						</div>
					</div>
					<!-- /header-text -->
				</div>
				<div class="item">
					<img src="http://unsplash.s3.amazonaws.com/batch%209/barcelona-boardwalk.jpg" alt="Third slide">
					<!-- Static Header -->
					<div class="header-text hidden-xs">
						<div class="col-md-12 text-center">
							<h2>
								<span>Welcome to LOREM IPSUM</span>
							</h2>
							<br>
							<h3>
								<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
							</h3>
							<br>
							<div class="">
								<a class="btn btn-theme btn-sm btn-min-block" href="#">Login</a><a
									class="btn btn-theme btn-sm btn-min-block"
									href="#">Register</a></div>
						</div>
					</div>
					<!-- /header-text -->
				</div>
			</div>
			<!-- Controls -->
			<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left"></span>
			</a>
			<a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right"></span>
			</a>
		</div>
		<!-- /carousel -->
	</div>
</div>

<div class="container">
	<div class="row">

		<div role="tabpanel">
			<h3>Conference Info</h3>
			<div class="col-sm-3">

				<ul class="nav nav-pills brand-pills nav-stacked" role="tablist">
					<li role="presentation" class="brand-nav active"><a href="#tab1" aria-controls="tab1" role="tab"
																		data-toggle="tab">大会信息</a></li>
					<li role="presentation" class="brand-nav"><a href="#tab2" aria-controls="tab2" role="tab"
																 data-toggle="tab">会议征文</a></li>
					<li role="presentation" class="brand-nav"><a href="#tab3" aria-controls="tab3" role="tab"
																 data-toggle="tab">录用论文</a></li>
					<li role="presentation" class="brand-nav"><a href="#tab4" aria-controls="tab4" role="tab"
																 data-toggle="tab">会议日程</a></li>
					<li role="presentation" class="brand-nav"><a href="#tab5" aria-controls="tab5" role="tab"
																 data-toggle="tab">主题报告</a></li>
					<li role="presentation" class="brand-nav"><a href="#tab5" aria-controls="tab5" role="tab"
																 data-toggle="tab">住宿，交通及旅游信息</a></li>
					<li role="presentation" class="brand-nav"><a href="#tab5" aria-controls="tab5" role="tab"
																 data-toggle="tab">赞助单位</a></li>
					<li role="presentation" class="brand-nav"><a href="#tab5" aria-controls="tab5" role="tab"
																 data-toggle="tab">联系方式</a></li>
				</ul>

				<div>
					<h4>赞助单位</h4>
					<img class="sponsor" src="1.png">
					<h4>承办学校</h4>
					<img class="sponsor" src="1.png">
				</div>
			</div>
			<div class="col-sm-9">
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="tab1">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tincidunt feugiat lorem, at
							ornare tellus faucibus ut. Curabitur
							eget metus dapibus nibh laoreet lacinia eget id metus. Mauris quis convallis elit, ac
							convallis
							augue. Pellentesque ornare cursus nibh quis fermentum. Morbi faucibus at tortor sed
							volutpat.
							Etiam at ex molestie turpis aliquam auctor. Nulla consequat tristique augue, vel venenatis
							massa fringilla sit amet. Morbi egestas turpis facilisis sem faucibus finibus.
						</p>
						<p>
							Nam sodales magna eget nulla interdum gravida. Aenean cursus magna vel lorem eleifend, vel
							eleifend massa rhoncus. Duis accumsan
							vehicula ultricies. Proin tincidunt blandit congue. Curabitur semper odio ut malesuada
							dapibus.
						</p>
					</div>
					<div role="tabpanel" class="tab-pane" id="tab2">
						<p>
							Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering
							animata corpora quaeritis. Summus
							brains sit, morbo vel maleficia? De apocalypsi gorger omero undead survivor dictum mauris.
							Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi dentevil
							vultus comedat cerebella viventium. Qui animated corpse, cricket bat max brucks terribilem
							incessu zomby.
						</p>
						<p>
							The voodoo sacerdos flesh eater, suscitat mortuos comedere carnem virus. Zonbi tattered for
							solum oculi eorum defunctis go
							lum cerebro. Nescio brains an Undead zombies. Sicut malus putrid voodoo horror. Nigh tofth
							eliv ingdead.
						</p>
					</div>
					<div role="tabpanel" class="tab-pane" id="tab3">
						<p>
							Lorem ipsizzle dolor away amizzle, consectetuer pizzle elizzle. Nullizzle yo velizzle, check
							it out volutpizzle, quis, gravida
							vel, yo. Ma nizzle eget tortor. Sizzle eros. My shizz izzle dolizzle gizzle turpis tempizzle
							fo shizzle mah nizzle fo rizzle, mah home g-dizzle. Maurizzle pellentesque nibh izzle own
							yo'. Check it out in tortor. Pellentesque fizzle rhoncizzle nisi.
						</p>
						<p>
							In hac habitasse platea dictumst. Shizzlin dizzle dapibus. You son of a bizzle tellizzle
							urna, pretizzle fo shizzle mah nizzle
							fo rizzle, mah home g-dizzle, ghetto ac, check it out vitae, nunc. Shizzlin dizzle
							suscipizzle.
							Integizzle sempizzle velit sizzle dizzle.
						</p>
					</div>
					<div role="tabpanel" class="tab-pane" id="tab4">
						<p class="small text-muted">Published May 19, 2015 by Mouse0270</p>
						<h3 id="intro" class="title">Fading Side Menu</h3>
						<p class="lead">Lets Focus on Content</p>

						<p>I was browsing the web when I came across a tutorial on <a href="http://www.html5rocks.com/"
																					  target="_blank">HTML5 Rocks</a>
							and realized they have one of the coolest effect and subtle
							effects I have never seen before on any other blog/tutorial site. It is so simple and
							elegant
							I couldn't wait to try and replicate it. I would like to point out I did replicate it
							<strong>NOT</strong> it. I never even looked at the source code nor do I know how they
							actually accomplished their
							version of this. I do however give them full credit for not only the inspiration but the
							design. It is a really amazing and simple effect.</p>
						<p>Alright, so what does this actually do. While if you notice to the left (if you are viewing
							this
							on <em>xs</em> device it will not show) we have a side menu that looks pretty ordinary. It
							will use <a href="http://getbootstrap.com/" target="_blank">Bootstrap's'</a> affix plugin
							to stick itself to the top of the screen as you scroll down. After the side menu has gotten
							the class <code>affix</code> from bootstrap it will slowly start to fade out until you can
							barely see it. If you Hover over it or back to the top, you will notice it will quickly fade
							back into view. This very simple and small effect, helps users focus on the content of the
							blog, while still having an unobtrusive side menu.</p>

						<h4 id="getting-started">Getting started</h4>
						<p>Jane Jacobs, social good, education, dialogue emergent; freedom incubation theory of social
							change
							beneficiaries. Democratizing the global financial system accelerate progress accessibility,
							raise awareness agriculture compassion protect asylum assistance hack advancement save the
							world human-centered design. Meaningful work storytelling human rights nonviolent resistance
							fellows. Support economic security thinkers who make change happen process provide disrupt
							inclusive. Prevention, synthesize committed; recognition; policy Millennium Development
							Goals
							working alongside life-expectancy. Generosity solve; affiliate, combat malaria; disruptor
							urban; prosperity activism new approaches.</p>
						<p>Frontline save lives empowerment; human potential innovate. Treatment indicator civic
							engagement
							rights-based approach nutrition combat poverty social health shifting landscape. Enabler
							giving advocate peace micro-finance. Challenges collaborative safeguards visionary board
							of directors Kony 2012 Andrew Carnegie. Respect amplify implementation; public institutions
							many voices honor measures courageous. Engage, gender rights maximize empower local
							solutions,
							recognize potential; safety challenges of our times fight against oppression transform
							socio-economic
							divide. Medical supplies, Nelson Mandela technology nonprofit; legitimize; policymakers
							innovation
							Rosa Parks shift global health Bloomberg readiness making progress Aga Khan.</p>
						<p>Reduce child mortality global leaders resolve refugee mobilize; participatory monitoring,
							worldwide,
							connect forward-thinking sharing economy detection partnership. Harness capacity building
							immunize social entrepreneurship celebrate assessment expert development crisis management.
							Liberal long-term non-partisan, change-makers best practices; small-scale farmers proper
							resources affordable health care women and children change lives donors inclusive capitalism
							Jane Addams. Cross-agency coordination country solution change movements political
							vulnerable
							citizens cornerstone Angelina Jolie revitalize.</p>

						<h4 id="setting-up-our-page">Setting up our page</h4>
						<p>Metrics enabler end hunger, economic independence empower celebrate social analysis
							incubation
							board of directors equity. Effectiveness; carbon rights; urban; liberal maintain Bloomberg
							developing livelihoods; research, revitalize improving quality agenda clean water harness.
							Aga Khan; relief efficient social responsibility, international development, aid diversity
							crisis situation public service.</p>
						<p>Informal economies meaningful work, expanding community ownership social impact global
							leaders.
							Reduce carbon emissions fluctuation countries lasting change elevate. Leverage, amplify
							public-private
							partnerships, John Lennon minority. Local; world problem solving fight against malnutrition,
							meaningful, advocate solve emergency response generosity, microloans benefit turmoil
							Millennium
							Development Goals promising development development. Enable overcome injustice, social
							entrepreneurship
							poverty Gandhi donors. Challenges interconnectivity respect integrity, sustainable safety
							transform cross-cultural think tank medical civic engagement time of extraordinary change
							significant.
						</p>

						<h4 id="conclusion">Conclusion</h4>
						<p>Tackling policy dialogue conflict resolution design thinking community shift Jane Addams
							impact
							legal aid compassion. United Nations democracy non-partisan institutions prevention.
							Beneficiaries,
							incubation vulnerable citizens; cause many voices connect; grantees Cesar Chavez empowerment
							partnership change lives. Citizens of change global citizens social worker; inspire social
							change, public service social responsibility refugee safeguards climate change accessibility
							Ford Foundation save the world lasting change The Elders. Nonviolent resistance save lives
							cooperation fluctuation change movements policymakers transform the world. Revitalize
							implementation
							frontline growth women's rights future; international development, mobilize metrics
							fundraising
							campaign.
						</p>
						<p>John Lennon citizenry accelerate solve, humanitarian carbon emissions reductions, assistance
							dialogue volunteer; marginalized communities enabler meaningful prosperity. Country;
							dedicated
							leverage, transformative social innovation small-scale farmers reduce carbon emissions open
							source freedom economic security developing nations protect. Global network forward-thinking
							poverty nonprofit environmental voice. Deep engagement resourceful activist opportunity;
							equal opportunity focus on impact care political foundation. Women and children countries
							honesty investment gender equality.</p>
						<p>Social entrepreneurship progress tackle invest social impact, inspire breakthroughs
							advancement
							scalable health. Micro-finance Andrew Carnegie sustainable future human experience campaign
							global justice world problem solving sharing economy Kony 2012 new approaches results
							challenges
							of our times. Innovate integrity, indicator; Nelson Mandela, emergent free expression enable
							life-expectancy expanding community ownership human potential. Microloans Jane Jacobs,
							eradicate
							cross-agency coordination think tank significant. Outcomes thinkers who make change happen
							catalytic effect empower global health working alongside pride medical supplies.</p>
					</div>


					<div role="tabpanel" class="tab-pane" id="tab5">
						<div class="media mb-1">
							<a class="media-left waves-light">
								<img class="rounded-circle"
									 src="https://scholar.google.com.hk/citations/images/avatar_scholar_128.jpg"
									 alt="Generic placeholder image">
							</a>
							<div class="media-body">
								<div id="postlist">
									<div class="panel">
										<div class="panel-heading">
											<div class="text-center">
												<div class="row">
													<div class="col-sm-9">
														<h3 class="pull-left">Welcome</h3>
													</div>
													<div class="col-sm-3">
														<h4 class="pull-right">
															<small><em>2014-07-30<br>18:30:00</em></small>
														</h4>
													</div>
												</div>
											</div>
										</div>

										<div class="panel-body">
											Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
											tempor incididunt ut labore et dolore magna aliqua.
											Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
											aliquip ex ea commodo consequat. Duis aute irure dolor in...
											<a data-toggle="modal" data-target="#scholarInfo">Read more</a>
										</div>

										<div class="panel-footer">
											<span class="label label-default">Welcome</span> <span
												class="label label-default">Updates</span> <span
												class="label label-default">July</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Modal -->
			<div class="modal fade" id="scholarInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
				 aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
								<span class="sr-only">Close</span>
							</button>
							<h4 class="modal-title" id="myModalLabel">Modal title</h4>
						</div>
						<div class="modal-body">
							<center>
								<img src="https://scholar.google.com/citations?view_op=view_photo&user=npVUke4AAAAJ&citpid=12"
									 name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
								<h3 class="media-heading">Joe Sixpack
									<small>USA</small>
								</h3>
								<span><strong>Keywords: </strong></span>
								<span class="label label-warning">OpenStack</span>
								<span class="label label-info">Deep Learning</span>
								<span class="label label-info">cloud computing</span>
								<span class="label label-success">Docker</span>
							</center>
							<hr>
							<center>
								<p class="text-left"><strong>Bio: </strong><br>
									Interleukin-6 (IL-6), also called 26-kd protein, hybridoma plasmacytoma growth
									factor, β2-interferon, or B cell stimulatory factor 2, is a recently described human
									cytokine with multiple growth and differentiation activities. Using a very sensitive
									bioassay based on the growth factor activity of this protein for B cell hybridomas,
									we found that IL-6 activity was significantly elevated in synovial fluid from
									patients with rheumatoid arthritis (RA) or other inflammatory arthritides, as
									compared with that in a group of patients with osteoarthritis. Moreover, IL-6 was
									detected in about one-third of the serum samples from patients with RA. In the
									latter group, we found a significant correlation between serum IL-6 activity and
									serum levels of C-reactive protein, α1-acid glycoprotein, α1-antitrypsin,
									fibrinogen, and haptoglobin, which indicates that IL-6 is related to disease
									activity in patients with RA.</p>
								<br>
							</center>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							<button type="button" class="btn btn-primary">Save changes</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>

</html>





