<h3>Invitation to Review for the CSQRWC2018</h3>
<h4> Dear Prof. {{ name }}:</h4>
<p>Manuscript ID {{ id|stringformat:"03d" }} entitled {{ title }} has been submitted to the 2018 Cross Strait Quad-Regional Radio</p>
<p>Science and Wireless Technology Conference. I invite you to review this manuscript.</p>
<p>I realize that our expert reviewers greatly contribute to the high standards of the conference, and I</p>
<p>thank you for your present and/or future participation.</p>
<p>The access to the manuscript and reviewer instructions in your Reviewer Center:</p>

<p>The site URL is: http://47.254.38.1/accounts/login/</p>
<p>Sincerely,</p>
<p>Prof. Lei Zhao</p>
<p>TPC Chair</p>
<p>2018 CSQRWC</p>
<p>leizhao@jsnu.edu.cn</p>